{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width">
		<figure class="graphic graphic-b-1 graphic-pad-1 extra-margin">
		  <img alt="FT Italy poll tracker by coalition" src="https://s3-eu-west-1.amazonaws.com/ft-ig-content-prod/v2/ft-interactive/italy-2018-polltracker/master/italy-coalitions-2018-latest-medium.svg">
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1 extra-margin">
		  <img alt="FT Italy poll tracker by coalition" src="https://s3-eu-west-1.amazonaws.com/ft-ig-content-prod/v2/ft-interactive/italy-2018-polltracker/master/italy-coalitions-2018-latest-small.svg">
		</figure>
	</div>
</div>
*No polls have been published before February 16, due to a 15-day polling blackout leading up to the election.*

Italians head to the polls on March 4 in the next big EU election that could help [determine the fate of the bloc](https://www.ft.com/content/7a13e0c6-02ac-11e8-9650-9c0ad2d7c5b5).

Italy is one of the founding members of the EU and the third-largest economy in the eurozone. But in recent years Euroscepticism has been on the rise, as discontent about a deep recession, weak recovery and the migration crisis on the country’s southern shores grows.

Here the FT looks at the rules, the main contenders and the possible outcomes of this pivotal vote.

{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}

</br>

## The electoral system

[Italy’s](https://www.ft.com/topics/places/Italy) electoral system is not enshrined in the constitution, and parliament has made three big changes to the rules over the past 25 years. The most recent was in 2017, when lawmakers agreed on the current “Rosatellum” system — named after Ettore Rosato, an MP from the ruling centre-left Democratic Party, who authored the law.

This means 61 per cent of the seats — 386 in the lower house and 193 in the upper house — will be awarded by national proportional representation. Some 37 per cent — 232 in the lower house and 116 in the upper house — will be elected in single-member constituencies under a first-past-the-post system. Italians living abroad will elect 2 per cent — 12 seats in the lower house and six in the upper house.

Parties must win 3 per cent of the national vote to gain a share of the proportional seats, a measure designed to reduce fragmentation. If they are allied to a larger coalition partner, votes for parties that earn between 1 and 3 per cent are transferred to the stronger party.

The Rosatellum was the product of a quick compromise in parliament last year. But because of the first-past-the-post component it seemed tailor-made to hurt the anti-establishment Five Star Movement. Five Star is against forming coalitions and lacks both a deep penetration at local level and experienced candidates.

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width">
		<figure class="graphic graphic-b-1 graphic-pad-1">
		  <img alt="FT outgoing parliament hemicycle" src="images/hemicycle/hemicycle_v2_-mid.png">
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1">
		  <img alt="FT outgoing parliament hemicycle" src="images/hemicycle/hemicycle_v2_-mobile.png">
		</figure>
	</div>
</div>

The centre-right opposition stands to benefit, since it has managed to form a coalition. This includes the Forza Italia party led by former prime minister Silvio Berlusconi, the anti-euro Northern League and the rightwing Brothers of Italy. The Northern League, in particular, has strong local roots in the prosperous north.

With votes nearly evenly split among three groups — the centre-right, centre-left and Five-Star — the result could be a hung parliament. But political scientists say that if one of the groups reaches more than 40 per cent of the votes in the proportional system, it could also gain more than 65 per cent of the seats in the first-past-the-post component and, conceivably, a majority in parliament. That is the big prize.

## The parties

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width">
		<figure class="graphic graphic-b-1 graphic-pad-1 extra-margin">
		  <img alt="FT Italy poll tracker by party" src="https://s3-eu-west-1.amazonaws.com/ft-ig-content-prod/v2/ft-interactive/italy-2018-polltracker/master/italy-parties-2018-latest-medium.svg">
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1 extra-margin">
		  <img alt="FT Italy poll tracker by party" src="https://s3-eu-west-1.amazonaws.com/ft-ig-content-prod/v2/ft-interactive/italy-2018-polltracker/master/italy-parties-2018-latest-small.svg">
		</figure>
	</div>
</div>

### Democratic Party

The centre-left Democratic Party (PD) forms the backbone of the governing coalition led by Paolo Gentiloni, prime minister. Matteo Renzi, the former prime minister, was re-elected as the party’s leader under a reformist agenda in April 2017.

When he became prime minister in 2014, Mr Renzi was able to reinvigorate the PD on the back of his charisma and vigour. But polls now show it trailing the centre-right coalition and Five Star.

PD traditionally supports pro-European policies and the social integration of immigrants. It has been in power since 2013, a period largely associated with economic recovery and employment expansion, though many Italians have not felt the benefits. It is stronger in the centre of the country and among older people and those with a higher education.

### Five Star Movement

Five Star (M5S) first took part in a general election in 2013, when it won 25 per cent of the vote and established itself as key power in Italian politics. It was created by comedian Beppe Grillo and the late internet consultant Gianroberto Casaleggio — who has been succeeded by his son Davide Casaleggio — with a platform involving direct democracy, the green economy and a fight against corruption. Its prime ministerial candidate is Luigi Di Maio.

The movement has since been in the spotlight because of internal divisions, lack of experience and its mismanagement in Rome, where it holds the mayorship.

### Forza Italia

Mr Berlusconi’s centre-right party, Forza Italia (FI) has dominated the country’s politics since its entry on to the scene in 1994, when the media mogul first ran for office. Even when it was in opposition — between 1996 and 2001 and again between 2006 and 2008 — it was the main conservative political force in Italy.

The height of the party’s power was in 2008, when Mr Berlusconi was re-elected as prime minister for a third time. But its support dropped to 15 per cent after Mr Berlusconi was forced to resign as prime minister in November 2011 over personal legal and sex scandals and the mismanagement of Italy’s debt crisis.

Although Mr Berlusconi, who is now 81 years old, is banned from public office because of a tax fraud conviction, he is nonetheless leading his party’s campaign and may be a key powerbroker after the vote.

The centre-right’s resurgence was apparent in municipal and regional elections in 2017, when it captured control of the city of Genoa and the governorship of Sicily.

### Northern League

The Northern League (LN) is a Eurosceptic, anti-immigrant party based in the country’s north. Although its main cause used to be fiscal federalism — and even secession — from Rome, it has now veered towards a more traditional hard-right nationalist agenda along the lines of France’s National Front.

Its support in the opinion polls has increased in the past three years on the back of rising anti-immigration sentiment following the Italian migration crisis. It was a marginal part of the centre-right coalition in the last general election but it can now boost a similar support base to Forza Italia.

### Free and Equal

After Mr Renzi and the PD lost a constitutional referendum in 2016, a group of leftwing dissidents — including veterans such as Massimo D’Alema and Pier Luigi Bersani — defected and formed a new political force. This evolved into Free and Equal (LeU), led by former anti-Mafia prosecutor and Senate president Pietro Grasso.

Its goal is to capture the votes of disillusioned leftwing Italians who believe the PD is too centrist and dislike Mr Renzi’s leadership style. But by running separately from the PD, the party is opening itself up to the criticism that it is paving the way for a centre-right or Five Star victory.

### Brothers of Italy

Brothers of Italy (FdI) is a nationalist-conservative party led by Giorgia Meloni, the Rome native and party leader who served as a minister in a previous Berlusconi-led government.

The name of the party mirrors that of Italy’s national anthem and its manifesto is laden with nativist policies against immigration and globalisation.

Brothers of Italy is a descendant of the Italian Social Movement, which inherited the role of the defunct Italian fascist party in postwar Italy.

## Potential outcomes

According to the latest seat allocation projections, no party or coalition will be achieve a majority — at least 316 seats. Among the possible coalitions, based on current polling, are:

### A grand coalition
#### Centre-left and centre-right.

This would be the broadest possible grand coalition, which could involve a technocratic government directed by Sergio Mattarella, the president, in the interests of maintaining stability. But in reality any grand coalition is likely to be much narrower, with parts of the centre-right — especially the Northern League and Brothers of Italy — and the centre-left — particularly leftwing factions of the PD — splintering off.

This has led many political scientists to question whether the numbers will add up for a workable grand coalition after the vote.

### An anti-euro government
#### Five Star Movement, Northern League and Brothers of Italy.

The most destabilising scenario for the EU would be a strong performance by Five Star, with the movement then seeking partners to form a government based on questioning the euro, reviewing Nato membership and adopting a hardline stance on immigration. But there are a wide range of views on each of these subjects even within the anti-establishment parties, so it is far from clear they could find common ground.

### A fudge

The most likely outcome is a very weak and unstable grand coalition — or even a minority government — with lawmakers switching sides and allegiances based on individual votes in parliament.

### New elections

If efforts to form a government fail repeatedly after the vote, Mr Mattarella may be forced to call new elections, prolonging the country’s political uncertainty — a scenario close to that experienced in Spain in recent years.

## Methodology
At each point in time, the FT poll-of-polls takes the average of all polls published within the last month. The average of their results is weighted to give more recent polls greater influence on the net score.

{% endmarkdown %}
{% endblock %}
